{% extends 'KnpRadBundle:Layout:h5bp.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/knprad/bootstrap/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/knprad/bootstrap/css/bootstrap-responsive.min.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block flashes %}
    {% flashes %}
        <div class="alert alert-{{ type }}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endflashes %}
{% endblock %}

{% block body %}
{% endblock %}
