{% block td %}
    <tr>
    {% set element = element|toArray(options) %}
    {% for id, title in headers %}
        <td>
            {% if element[id] is defined %}{{ element[id] }}{% endif %}
        </td>
    {% endfor %}
    {% if routes|length > 0 %}
        <td>

            {% if routes.show is defined %}
                {% block route_show %}
                    {% set parameters = [] %}
                    {% for name, attrib in routes.show.parameters %}
                        {% set parameters = parameters|merge({( name ): element[attrib]}) %}
                    {% endfor %}
                    <a href="{{ path(routes.show.path, parameters) }}" {% if routes.show.label is defined %}title="{{ routes.show.label }}"{% endif %}>
                        {% if routes.show.label is defined %}
                            {{ routes.show.label }}
                        {% endif %}
                    </a>
                {% endblock %}
            {% endif %}

            {% if routes.edit is defined %}
                {% block route_edit %}
                    {% set parameters = [] %}
                    {% for name, attrib in routes.edit.parameters %}
                        {% set parameters = parameters|merge({( name ): element[attrib]}) %}
                    {% endfor %}
                    <a href="{{ path(routes.edit.path, parameters) }}" {% if routes.edit.label is defined %}title="{{ routes.edit.label }}"{% endif %}>
                        {% if routes.edit.label is defined %}
                            {{ routes.edit.label }}
                        {% endif %}
                    </a>
                {% endblock %}
            {% endif %}

            {% if routes.delete is defined %}
                {% block route_delete %}
                {% set parameters = [] %}
                {% for name, attrib in routes.delete.parameters %}
                    {% set parameters = parameters|merge({( name ): element[attrib]}) %}
                {% endfor %}
                <form method="post" action="{{ path(routes.delete.path, parameters) }}" style="margin:0;display:inline" >
                    <input type="hidden" name="_method" value="DELETE" />
                    <button type="submit" {% if routes.delete.label is defined %}title="{{ routes.delete.label }}"{% endif %}>
                        {% if routes.delete.label is defined %}
                            {{ routes.delete.label }}
                        {% endif %}
                    </button>
                </form>
                {% endblock %}
            {% endif %}

        </td>
    {% endif %}
    </tr>
{% endblock %}
